* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
}
.keys {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
.container {
  width: 100%;
  padding: 5%;
  display: grid;
  grid-template-rows: 4fr 1fr;
}
img.kick {
  width: 200px;
}
img.hihat {
  width: 300px;
}
img.boom {
  width: 200px;
}
img.ride {
  width: 300px;
}
img.snare {
  width: 200px;
}
img.tom {
  width: 200px;
}
img.tink {
  width: 100px;
}
img.claps {
  width: 100px;
}
/* position */
.drum-kit {
  position: relative;
  width: 100%;
}
.kick {
  position: absolute;
  top: 50%;
  left: 42%;
}
.hihat {
  position: absolute;
  top: 55%;
  left: 26%;
}
.boom {
  position: absolute;
  left: 0;
}
.ride {
  position: absolute;
  top: 38%;
  right: 26%;
}
.snare {
  position: absolute;
  top: 70%;
  left: 35%;
}
.tom {
  position: absolute;
  top: 71%;
  right: 35%;
}
.tink {
  position: absolute;
  left: 46%;
}
.claps {
  position: absolute;
  right: 5%;
}
